In [1]:
import pandas as pd

### 변동률 구하기 (+ Series, DataFrame 구조 이해)

In [20]:
path = '/Users/jeonghaesong/Desktop/MyStudy/Study/About_Python/Csvs/롯데케미칼.csv'
lotte_chem = pd.read_csv(path,index_col=0)
lotte_chem = lotte_chem[lotte_chem.columns[:-1]]

In [22]:
# 직접 변동률 구해보기

lotte_chem['Change'] = lotte_chem['Close'].pct_change().fillna(0) #결측치 0
lotte_chem['Change'].head()

Date
2018-01-02    0.000000
2018-01-03    0.006935
2018-01-04   -0.038567
2018-01-05    0.007163
2018-01-08    0.091038
Name: Change, dtype: float64

In [23]:
# 함수
def get_change(df):
  df_close = df['Close']
  df['Change'] = df_close.pct_change().fillna(0)
  return df

get_change(lotte_chem)

              Open    High     Low   Close  Volume    Change
Date
2018-01-02  368000  370000  360500  360500   92533  0.000000
2018-01-03  360000  368500  360000  363000   81340  0.006935
2018-01-04  367500  367500  349000  349000  190391 -0.038567
2018-01-05  351000  352000  348000  351500   99268  0.007163
2018-01-08  359000  383500  358000  383500  490208  0.091038
...            ...     ...     ...     ...     ...       ...
2021-12-16  233000  234000  224500  228000  144647 -0.012987
2021-12-17  227000  235000  226500  234500  138945  0.028509
2021-12-20  232000  233500  228000  229500   90630 -0.021322
2021-12-21  232000  232500  227000  229500   98669  0.000000
2021-12-22  229000  230000  225000  225000   99419 -0.019608

[980 rows x 6 columns]

#### 주의

`df['Close]`는 Series로 반환됨. -> 만약 이를 DataFrame으로 반환된다고 착각했을 때 문제가 생길 수 있음.

따라서 만약 `df_close`에 `Change` 컬럼을 추가하는 등의 실수 시 컬럼이 하나인 Series의 특성 상 원치 않는 결과가 나올 수 있음.. (알고 싶지 않았음)